<h1>THESE ARE THE DETAILS.</h1>

<p><%= @subject.name %></p>
<p><%= @subject.lecturer %></p>
<p><%= @subject.subject_code %></p>

<%= link_to "All subjects", subjects_path %>

<%= link_to "Edit", edit_subject_path(@subject) %>
<%= link_to "Delete", subject_path(@subject), method: :delete, data: {confirm: "Are you sure?"} %>